<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/product-blends/greekrevival/madgreek-banner-xs.jpg  576w,
            /images/support-landing-page/product-blends/greekrevival/madgreek-banner-sm.jpg  768w,
            /images/support-landing-page/product-blends/greekrevival/madgreek-banner-md.jpg  992w,
            /images/support-landing-page/product-blends/greekrevival/madgreek-banner-lg.jpg 1200w,
            /images/support-landing-page/product-blends/greekrevival/madgreek-banner-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="(max-width: 576px) 576px,
            (max-width: 768px) 768px,
            (max-width: 992px) 992px,
            (max-width: 1200px) 1200px,
            (max-width: 1920px) 1920px,
            2500px"
          src="/images/support-landing-page/product-blends/greekrevival/madgreek-banner-xl.jpg"
          alt="Greek Revival house"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>Mad Greek</h1>
            <h2>Greek Revival</h2>
            <a
              href="/categories?&blnds[]=Mad+Greek"
              class="btn btn-sm btn-elandel"
            >
              View Blend <i class="fal fa-chevron-right"></i
            ></a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row landing-text-container">
    <div class="col-12 landing-text-box">
      <h2>The Greek Revival</h2>
      <P class="one-rem-text-desktop" >
        With Greek Revival, think grand ancient Greek white marble and
        impressive buildings, with a modern-day twist. Usually in this style,
        elements of the home are painted white to resemble the white marble that
        encased expensive buildings in Greece. You will notice that many homes
        will have bold details, yet keep their simplicity.
      </P>
      <P class="one-rem-text-desktop" >
        Lots of wonderful features are included in Greek Revival like pediments,
        which is an exterior architectural element that is usually in a
        triangular shape and supported by columns, big shutters on the exterior
        of the home, and often columns will be in play. Normally there is a
        portico, which is a covered porch which can either just cover the entry,
        or the entire front of the building.
      </P>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Greek Revival style living room "
        src="/images/support-landing-page/product-blends/greekrevival/madgreek-inset-1.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Greek Revival style</h2>
      <p>
        This elegant living room and bedroom space truly fit the Greek Revival
        style. The marble look is all over with the clean white walls and with
        simple, yet extravagant moulding. You will also notice in this style
        that the design reflects the symmetry of ancient Greek and can often
        resemble Greek temples. For a look like this, check out the key elements
        below.
      </p>
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 text-center">
      <h1 class="pb-4 ">Key Elements</h1>
      <!--ddd  -->
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Moulding</h2>
      <p>
        Much of the moulding is rather large with detail, yet it is still
        incredibly simple. Notice that the moulding is also typically white and
        prominent.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt=" Greek Moulding"
        src="/images/support-landing-page/product-blends/greekrevival/madgreek-inset-2.jpg"
        data-holder-rendered="true"
      />
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row d-flex align-items-center landing-text-container">
    <div class="col-12 order-md-2 col-md-6 landing-text-box ">
      <h2>Doors</h2>
      <p>
        Doors are an equally important element. Whether interior or exterior,
        they can bring the whole design together and allow for your space to
        feel clean and put together. Traditionally, the Colonial Revival homes
        have white interior doors and white or dark colored exterior doors.
      </p>
    </div>
    <div
      class=" order-md-1 col-12 col-md-6 text-center   landing-text-container"
    >
      <img
        class="featurette-image img-fluid mx-auto"
        alt=" Greek Doors"
        src="/images/support-landing-page/product-blends/greekrevival/madgreek-inset-3.jpg"
        data-holder-rendered="true"
      />
    </div>
    <!-- col-12 -->
  </div>

  <div class="row align-items-center landing-text-container">
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Columns</h2>
      <p>
        Many Greek Revival homes tend to have round, square, or octagonal
        pilasters, which give the appearance of a supporting column, but only
        having decorative function. When there are columns in place, they make a
        bold statement.
      </p>
    </div>
    <!-- col-12 -->
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt=" Greek Columns"
        src="/images/support-landing-page/product-blends/greekrevival/madgreek-inset-4.jpg"
        data-holder-rendered="true"
      />
    </div>
    <!-- col-12 -->
  </div>
  <!-- row -->
  <div class="row align-items-center landing-text-container">
    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <img
        class="featurette-image img-fluid mx-auto"
        alt="Greek Dentil Crown Moudling"
        src="/images/support-landing-page/product-blends/greekrevival/madgreek-inset-5.jpg"
        data-holder-rendered="true"
      />
    </div>
    <div class="col-12 col-md-6 landing-text-box ">
      <h2>Dentil Crown Moudling</h2>
      <p>
        Notice the Dentil Crown Moudling that is on display. It is a classic
        greek addition to have the dentil detail in the moulding. Interestingly,
        this is a detail where the norm is to have an excess amount used. There
        are often signifcant door casings, as you can see here.
      </p>
    </div>
    <!-- col-12 -->
  </div>
</div>

<!-- container -->
